.rootHeader {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rootNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
}

.rootLogo {
  width: 85px;
  height: 40px;
}

.rootLocation {
  width: max-content;
  height: 2.375rem;
  padding: .5rem;
  border-radius: 6px;
  background-color: var(--brand-purple-light);
  color: var(--brand-purple-dark);
  font-size: .875rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.rootCart {
  width: max-content;
  height: 2.375rem;
  padding: .5rem;
  border-radius: 6px;
  background-color: var(--brand-yellow-light);

  cursor: pointer;
  position: relative;
}

.rootcart-quantity-items {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--brand-yellow-dark);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  font-size: .75rem;
  font-weight: bold;
}